# Reusable workflow to build and push Docker images for multiple microservices to AWS ECR using OIDC
name: Build and Push Microservices to ECR

on:
  push:
    branches: [main]
  workflow_dispatch:

env:
  AWS_REGION: ap-south-1
  IMAGE_TAG: ${{ github.sha }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    strategy:
      matrix:
        service:
          - appointment-service-main
          - patient-service

    env:
      SERVICE_NAME: ${{ matrix.service }}
      ECR_REPOSITORY: 333813598365.dkr.ecr.ap-south-1.amazonaws.com/hackathon-repository:${{ matrix.service }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::333813598365:role/hackathon-user-7
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker image
        run: |
          docker build -t $ECR_REPOSITORY ./${SERVICE_NAME}

      - name: Push Docker image to ECR
        run: |
          docker push $ECR_REPOSITORY:$IMAGE_TAG
